{
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "component",
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ],
    "transform-remove-strict-mode"
  ],
  "presets": [
    "@babel/stage-0",
    "@babel/preset-env"
  ]
}
